* {
  --light: #fff;
  --shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.15);
}

html {
  box-sizing: border-box;
}

body {
  background: hsl(257, 40%, 49%) url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  max-width: 1440px;
  background-size: contain;
  background-attachment: fixed;
  background-position: bottom;
  margin: 50px 60px;
  line-height: 1.5;
}

#content h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--light);
  font-size: 2.5rem;
}

#content p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--light);
  font-size: 1.2rem;
}

button {
  border: none;
  background-color: #fff;
  color: hsl(257, 40%, 49%);
  padding: 16px 55px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 30px;
  font-size: 1.1rem;
  box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.15);
  box-shadow: var(--shadow);
}

.column {
  display: grid;
  grid-gap: 55px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}

.social-media {
  color: var(--light);
  font-size: 35px;
  padding: 1rem;
  float: right;
}

.icon {
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  justify-content: center;
  padding: 0.75rem;
}

.attribution {
  font-size: 11px;
  margin-bottom: 0;
  margin-left: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* mobile devices only */
@media only screen and (max-width: 500px) {
  body {
    background: hsl(257, 40%, 49%) url('../images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: top;
  }

  .column {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  .social-media {
    color: var(--light);
    font-size: 15px;
    padding: 1rem;
  }

  #mock-up {
    width: 100%;
  }

  #content h1 {
    font-size: 1.5rem;
  }

  #content p {
    font-size: 1rem;
  }

  button {
    padding: 14px 60px;
    font-size: 0.9rem;
  }
}